In [2]:
print("hi 0807")

hi 0807

In [10]:
a = 1

In [11]:
變數一 = 1

In [12]:
變數一

1

In [13]:
age, name = 18, "Yuan-Sin"

In [14]:
age, name

(18, 'Yuan-Sin')

In [29]:
變數一 = "變數二"

In [30]:
變數一

'變數二'

In [34]:
早餐 = 100

In [35]:
午餐=200

In [37]:
餐費 = 早餐 + 午餐

In [38]:
餐費

300

In [40]:
三天餐費 = 餐費*3

In [41]:
三天餐費

900

In [44]:
print(三天餐費)

900

In [45]:
d=2
e=3
f=4

In [46]:
d, e, f

(2, 3, 4)

In [48]:
週三氣溫=33
週四氣溫=32
週五氣溫=33
週六氣溫=33

In [51]:
四天溫度平均 = (週三氣溫 + 週四氣溫 + 週五氣溫 + 週六氣溫)/4

In [52]:
print(四天溫度平均)

32.75

In [53]:
日花費 = 300

In [57]:
周花費 = 日花費*7

In [55]:
月花費 = 周花費*4

In [58]:
print(周花費, 月花費)

2100 4800